<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="false">

    <dubbo:service interface="com.chao.practice.facade.service.FacadeServiceFacade"
                   ref="facadeServiceFacadeImpl" timeout="10000">
        <dubbo:method name="yyMethod" timeout="16000"/>
    </dubbo:service>
    <dubbo:service interface="com.chao.practice.facade.service.FacadeServiceFacade"
                   ref="facadeServiceMethod" timeout="20000"/>


</beans>
